***LOAD THE PICKLE FILE***

In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
### Load all the scaler , one hot encoder pickle files
model = load_model("model.h5")

with open("o.pkl","rb") as file:
    o = pickle.load(file)
    
with open("l.pkl","rb") as file:
    l = pickle.load(file)
    
with open("scaler.pkl","rb") as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From d:\ANN_Banking_Prediction\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [20]:
## INPUT DATA
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [21]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Define all possible categories for Geography
all_geographies = [['France'], ['Germany'], ['Spain']]  # Ensure these are nested lists

# Initialize OneHotEncoder
o = OneHotEncoder(handle_unknown='ignore')

# Fit the encoder with all possible categories
o.fit(all_geographies)

# Example input data
input_data

# Ensure input data is in the correct format (as a list of lists)
geo_encoded = o.transform([[input_data["Geography"]]]).toarray()

# Convert the encoded result into a DataFrame
geo_encoded_df = pd.DataFrame(geo_encoded, columns=o.get_feature_names_out(["Geography"]))

print(geo_encoded_df)

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [22]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [23]:

input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [25]:
input_df["Gender"] = l.transform(input_df["Gender"])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [26]:
## Combine OneHot Encoding with input data
input_df=pd.concat([input_df.drop("Geography",axis=1), geo_encoded_df],axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [28]:
## Scaling the input data

input_scaled= scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [29]:
#### PREDICTION TIME!!!
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 242ms/step

array([[0.01622491]], dtype=float32)

In [34]:
prediction_probability = prediction [0][0]
prediction_probability

if prediction_probability > 0.5:
    print("Most Probably will terminate the account")
else:
    print("Most Probably will not terminate the account")

Most Probably will not terminate the account